/* common css start */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
:root {
    --primary: #14a2d2;
    --secondery: #232940;
}
a {
    text-decoration: none;
}
ul,
ol {
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: #232940;
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 22px;
    font-weight: 700;
}
h5 {
    font-size: 20px;
    font-weight: 700;
}
h6 {
    font-size: 16px;
    font-weight: 700;
}
p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #9090a0;
}

.button_2 {
    padding: 15px 25px;
    font-weight: 600;
    background: #fff;
    color: #232940;
    border: 2px solid #fff;
    display: inline-block;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.button_2:hover {
    color: #fff;
    background: transparent;
}

.button_3 {
    padding: 15px 25px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
    display: inline-block;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.button_3:hover {
    color: #232940;
    background: #fff;
}
/* common css end */

/* navbar css start */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.navbar .navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 25px;
}
.navbar .navbar-brand span {
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #232940;
    font-weight: 600;
}
/* navbar css end */

/* banner css start */
#banner {
    height: 100vh;
    background: url("../images/banner.jpg") no-repeat center/cover;
    display: flex;
    align-items: center;
}
#banner .banner_text h4,
#banner .banner_text h5,
#banner .banner_text p {
    color: #fff;
}
#banner .banner_image {
    position: absolute;
    bottom: 0;
    right: 13%;
    width: 25%;
}
/* banner css end */

/* about css start */
#about {
    padding-top: 120px;
    padding-bottom: 120px;
}
#about .about_content {
    padding-left: 50px;
}
#about .about_content .heading h2 span {
    color: #fff;
    background: var(--primary);
    padding: 2px 15px;
    position: relative;
}
#about .about_content .heading h2 span::before {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    width: 15px;
    height: 15px;
    background: var(--primary);
    clip-path: polygon(100% 0, 0 0, 0 100%);
}
#about .about_content .about_text {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(131, 131, 131);
}
#about .about_content .about_text h4 {
    font-weight: 600;
    color: var(--primary);
}
#about .about_content .about_text h3 {
    text-transform: uppercase;
}
#about .about_content .about_footer {
    margin-top: 20px;
}
#about .about_content .about_footer ul li {
    padding: 10px 0;
    color: #9090a0;
}
#about .about_content .about_footer ul li span {
    width: 100px;
    display: inline-block;
    color: var(--secondery);
}
/* about css end */

/* services css start */
#services {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f9f8fe;
}
#services .service_item {
    background: #fff;
    transition: all linear 0.3s;
    padding-top: 25px !important;
}
#services .service_item:hover {
    box-shadow: 6px 9px 8px -7px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 6px 9px 8px -7px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 6px 9px 8px -7px rgba(0, 0, 0, 0.48);
    -ms-box-shadow: 6px 9px 8px -7px rgba(0, 0, 0, 0.48);
    -o-box-shadow: 6px 9px 8px -7px rgba(0, 0, 0, 0.48);
}
#services .service_item img {
    width: 60px;
}
/* services css end */

/* hire_me css start */
#hire_me {
    padding-top: 120px;
    padding-bottom: 120px;
    background: url("../images/hire_me.jpg") no-repeat center/cover;
    position: relative;
    z-index: 1;
}
#hire_me::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
#hire_me h2 {
    color: var(--primary);
    margin-bottom: 20px;
}
#hire_me p {
    color: #fff;
    margin-bottom: 20px;
}
/* hire_me css end */

/* resume css start */
#resume {
    padding-top: 120px;
    padding-bottom: 120px;
}
#resume .section_heading {
    text-align: center;
    margin-bottom: 80px;
}
#resume .section_heading h5 {
    color: var(--primary);
}
#resume .section_heading h5 span {
    color: var(--secondery);
    padding-top: 15px;
}
#resume .resume_content {
    padding: 80px;
    background: #f9f8fe;
}
#resume .resume_content .left_content h3,
#resume .resume_content .right_content h3 {
    text-transform: uppercase;
    margin-bottom: 50px;
}
#resume .resume_content .resume_item {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
}
#resume .resume_content .resume_item h6 {
    color: var(--primary);
}
/* resume css end */
